.profile_logo{
  padding-top: 9%;
   margin-left: 45%;
}
.ink-login{
 width: 2.4%;
 border: 1px solid #0F2A6F;
 /* box-sizing: border-box; */
 margin-left: 36.9%;
 
   
}
.login{
 margin-top:3%;
  margin-left:36.8%;
  color:#0F2A6F;
  font-family:Roboto;
  font-style: regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 134%; 
  
  text-decoration: underline;

}

.ant-form {
  margin-top:1%;

width:24%;

position: relative;
margin-left: 40%;

}

  /*.login{
    margin-top:3%;
     margin-left:36.8%;
     color:#0F2A6F;
     font-family:Roboto;
     font-style: regular;
     font-weight: 400;
     font-size: 14px;
     line-height: 134%;
     
     /* text-decoration: underline; */
   
   /* } */ 