 /* Reset Password */

 /* .ink{
    width: 6.3%;
    height: 0px;
    border: 1px solid #0F2A6F;
    box-sizing: border-box;
    margin-left: 36.9%;
    margin-bottom:-7%;
}


/* forgot password */

/* .ink_forgot{
    width: 8%;
    border: 1px solid #0F2A6F;
    box-sizing: border-box;
    margin-left: 36.9%;
  }
  .forgot_password{
    margin-top:-6%;
  }
  
  .forgot_password .hideicon {
    position: absolute;
    margin-left:57%;
    display: block;
    margin-top:-60px;
     */
    /* margin-top:65%; */
   
  
   /* @media (max-width:1075px){
    .forgot_password .hideicon {
     margin-left:67%;
    }
  }
  
  .forgot_password .showicon{
    position: absolute;
    margin-left:57%;
    display: block;
    margin-top:-60px;
    
  } 
  @media (max-width:1075px){
    .forgot_password .showicon {
     margin-left:67%;
    }
  } */


  .reset-form-forgot{
    color:rgb(15, 42, 111);
    margin-left: 45%;
  }